@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    background-color:#2E65F3;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav {
    font-size: 16px;
    color: white;
    font-family: 'Inter', sans-serif;
    line-height: 20px;
    margin-left: 48px;
    margin-right: 40px;
}

.active {
    font-weight: 700;
}